/* adding font */
@font-face {
    font-family: "roboto-black";
    src: url("font/Roboto-Black.ttf");
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: "roboto-thin";
    src: url("font/Roboto-Thin.ttf");
    font-weight: normal;
    font-size: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* !landing page */
/* !navbar */
.main-nav {
    background-color: #333;
    display: grid;
    grid-template-columns: 40% 30% 30%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    min-height: 8vh;
    font-family: "roboto-black";
    margin: auto;
    z-index: 2;
}

/* nav links */
.nav-links {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    font-size: 18px;
    /* background-color: red */
}

.nav-links li a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: white;
    /* background-color: red; */
}

/*dropdown */
.dropdown-contents {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #333;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    min-width: 100px;
}

.dropdown-contents a {
    display: block;
    font-size: 14px;
    padding: 10px;
    margin: 5px;
    transition: .5s ease;
}

/* dropdown animation */
.dropdown:hover .dropdown-contents {
    display: block;
}

.dropdown-contents a:hover {
    background-color: #666;
    border-bottom: 2px solid white;
}

/* logo */
.logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* search bar */
.search-bar {
    display: inline-block;

}

.search-bar button {
    font-size: 17px;
    padding: 6px;
    border: none;
    background-color: #ddd;
}

.search-bar input[type=text] {
    padding: 5px;
    font-size: 17px;
    font-family: 'roboto-thin';
    font-weight: bold;
    border: 1px solid #ccc;
}

/* search bar animation */
.search-bar button:hover {
    background-color: #ccc;
}

/* user button */
.login-sign-up-group {
    display: block;
}

.user-group {
    display: none;
}

/* modal */
.modal-button {
    display: block;
    background-color: inherit;
    border: none;
    color: white;
    width: 95%;
    font-family: 'roboto-black';
    font-size: 14px;
    padding: 10px;
    margin: 5px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 5px;
    transition: .5s ease;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    display: none;
}

.modal-contents {
    background-color: white;
    color: black;
    text-transform: capitalize;
    font-weight: bold;
    margin: 20% auto;
    padding: 20px;
    width: 50%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* modal button animation */
.modal-button:hover {
    background-color: #666;
    border-bottom: 2px solid white;
}

/* modal navbar */
.modal-nav-links {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.modal-nav-links li a {
    text-decoration: none;
    color: black;
    margin: 10px;
    text-transform: uppercase;
}

.modal-form {
    justify-content: center;
    display: grid;
    background-color: white;
    color: black;
    text-transform: capitalize;
    font-weight: bold;
    margin: 20% auto;
    padding: 20px;
    width: 50%;
}

.modal-form input[type=text] {
    
}

.close-button i {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 30px;
}

a#loginPageButton {
    color: #0066FF;
    border-bottom: 1px solid #0066FF;
}

/* page */
.login-page {
    display: none;
}

.sign-up-page {
    display: none;
}

/* forms */
.login-form {
    display: grid;
    grid-template-columns: 20% auto;
    padding: 10px;
    width: 70%;
}

.login-form input[type=password],
.login-form input[type=email],
.sign-up-form input[type=text],
.sign-up-form input[type=password],
.sign-up-form input[type=email],
.sign-up-form input[type=tel] {
    color: black;
    background: transparent;
    opacity: 0.4;
    font-weight: bold;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    width: 75%;
    height: 20px;
    float: left;
}

.login-form input[type=submit],
.sign-up-form input[type=submit] {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    border: none;
    outline: none;
    width: 75%;
    float: left;
    background-color: #333;
    color: #CCFFFF;
    cursor: pointer;
}

::placeholder {
    color: black;
    font-weight: bold;
}

.sign-up-form {
    display: grid;
    grid-template-columns: 20% auto;
    padding: 10px;
    width: 70%;
}

.grid-item {
    padding: 15px;
    font-size: 20px;
    text-align: center;
}

/* forms animation */
.login-form input[type=text]:focus,
.login-form input[type=password]:focus,
.login-form input[type=email]:focus,
.sign-up-form input[type=text]:focus,
.sign-up-form input[type=password]:focus,
.sign-up-form input[type=email]:focus,
.sign-up-form input[type=tel]:focus {
    opacity: 0.8;
}

/* !main contents */
/* new arrival poster */
.new-arrival-poster {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    height: 100%;
    width: 100%;
    margin-bottom: 40px;
}

.new-arrival-poster-img {
    grid-column: 1;
    grid-row: 1;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}



.new-arrival-contents {
    width: 20%;
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    align-self: center;
    justify-self: end;
    color: white;
    padding: 15px;
}

.new-arrival-contents h1 {
    font-family: roboto-black;
    text-transform: uppercase;
    font-size: 20px;
}

.new-arrival-contents p {
    font-family: roboto-thin;
    font-size: 16px;
}

.shop-button {
    float: right;
    padding: 10px;
    border-radius: 12px;
    font-family: roboto-black;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    background-color: rgba(0, 0, 0, 0.5);
    transition: .5s ease;
}

.shop-button:hover {
    background-color: white;
}

/* gender section */
.gender-section {
    display: grid;
    grid-template-columns: 35% 35%;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    margin-top: -30px;
    margin-bottom: 40px;
}

.gender-section h1 {
    font-family: roboto-black;
    font-weight: 18px;
    text-transform: uppercase;
    grid-column: 1/span 2;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

.gender-section-picture {
    height: 60%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
}

/* gender section animation */
.gender-section-picture:hover img {
    opacity: 0.3;
}

.gender-section-picture:hover .section-picture-contents {
    opacity: 1;
}

.gender-section-picture img {
    grid-column: 1;
    grid-row: 1;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    backface-visibility: hidden;
    transition: .5s ease;

}

.section-picture-contents {
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    display: flex;
    justify-content: center;
    transition: .5 ease;
    opacity: 0;
}

.section-picture-contents a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: roboto-black;
    font-size: 18px;
    color: black;
    align-self: center;
    padding: 30px;
    border-radius: 12px;
    background-color: #333;
    transition: .5s ease;
}

.section-picture-contents a:hover {
    background-color: black;
    color: white;
}

/* category section */
.category-section {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-around;
    padding-bottom: 10px;
}

.category-section h1 {
    font-family: roboto-black;
    font-weight: 18px;
    text-transform: uppercase;
    grid-column: 1/span 2;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}

.shoes-category,
.t-shirt-category,
.jean-category,
.snapback-category {
    margin: 10px;
}

.shoes-category {
    grid-row: 3;
    grid-column: 1;
}

.t-shirt-category {
    grid-row: 2;
    grid-column: 1;
}

.jean-category {
    grid-row: 2;
    grid-column: 2;
}

.snapback-category {
    grid-row: 3;
    grid-column: 2;
}

.shoes-slide,
.t-shirt-slide,
.jean-slide,
.snapback-slide {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
}

.shoes-slide img,
.t-shirt-slide img,
.jean-slide img,
.snapback-slide img {
    grid-column: 1;
    grid-row: 1;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.slide-button {
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    display: flex;
    justify-content: center;
    transition: .5 ease;
}

.slide-button a {
    padding: 12px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: roboto-black;
    font-size: 18px;
    border: 2px solid white;
    border-radius: 12px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    align-self: center;
    transition: .5s ease;
}

.slide-button a:hover {
    background-color: #333;
}


/* footer */
.footer {
    background-color: #333;
    display: grid;
    grid-template-columns: 25% 25% 30% 20%;
    margin: auto;
}

.footer h1 {
    padding-bottom: 5px;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    font-family: roboto-back;
}

.footer p {
    font-family: roboto-thin;
    font-weight: 14px;
    color: white;
}

.footer div {
    padding: 10px;
    /* border-right: 1px solid white; */
}

.social-media ul {
    display: grid;
    grid-template-columns: 20% 20% 20%;
    list-style: none;
}

/* !admin page */

.admin-page{
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 10% auto 10%;
    height: 100vh;
    background-color: #ccc;
}

.admin-page-header {
    display: grid;
    justify-content: center;
    border: 1px solid black;
    border-bottom: 1px solid white;
    background-color: #333;
    color: white;
    text-transform: uppercase;
    font-family: roboto-black;
    font-size: 32px;
    padding: 10px;
}

.admin-page-contents {
    margin-bottom: 0;
    background-color: white;
    width: 100%;
    font-family: roboto-black;
    text-transform: uppercase;
    border: none;
}

.admin-page-contents tr {
    display: grid;
    grid-template-columns: 20% 20% 15% 20% 20% 5%;
}

.admin-page-contents tr th {
    width: 100%;
}

.admin-page-contents tr:nth-child(1),
.admin-page-contents tr:nth-child(2) {
    background-color: #666;
}

.admin-page-contents tr:hover {
    background-color: #666;
}

.admin-page-contents tr,th {
    border: 1px solid black;
}

/* admin page contents product */
.admin-page-contents-product {
    margin-bottom: 0;
    background-color: #666;
    width: 100%;
    font-family: roboto-black;
    text-transform: uppercase;
}

.admin-page-contents-product tr{
    display: grid;
    grid-template-columns: 10% 20% 10% 10% 20% 10% 10% 10%;
}

.admin-page-contents-product tr th {
    display: flex;
    justify-content: center;
}

.admin-page-contents-product tr th  input[type=text],
.admin-page-contents-product tr th  input[type=number]
{
    width: 50%;
}

/* admin side bar */
.admin-sidebar{
    background-color: #333;
    border-right: 1px solid white;
    grid-row: 1/span 3;
    height: 100%;
}

.admin-sidebar ul {
    list-style: none;
    text-transform: uppercase;
    height: 100%;
    display: block;
}

.admin-sidebar li a {
    text-decoration: none;
    color: #666;
    padding: 10px;
    margin-bottom: 5px;
}

.admin-sidebar li a i{
    transition: .5s ease-in;
}

.admin-sidebar li:hover a i{
    color: white;
}

.admin-page-footer {
    background-color: #333;
    border: 1px solid black;
    display: grid;
}

.admin-page-footer button {
    background-color: #666;
    cursor: pointer;
}

.admin-page-footer button:hover {
    background-color: #333;
}

/* round button */
.round-btn-red,
.round-btn-blue {
color: white;
display:block;
height: 40px;
width: 40px;
border-radius: 50%;
border: 1px solid red;
transition: .5s ease-in;
}

.round-btn-red {
    background-color: red;
    cursor: pointer;
}
.round-btn-blue {
    background-color: blue;
    cursor: pointer;
}

.round-btn-red:hover, 
.round-btn-blue:hover {
    background-color: black;
}

/* grid form */
.grid-form {
    display: grid;
    grid-template-columns: 20% 30% 50%;
}

.grid-form label {
    grid-column: 1;
}

.grid-form input {
    grid-column: 2;
}

/* notification */
.notification {
   
    display: grid;
    justify-content: center;
    background-color: white;
    color: black;
    text-transform: capitalize;
    font-weight: bold;
    margin: 20% auto;
    padding: 20px;
    width: 50%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/*  position: absolute;
top:-200px;
    left: 200px; */

.notification button {
    background-color: red;
    color: black;
    font-family: roboto-thin;
    font-weight: bolder;
    text-transform: uppercase;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border: none;
    width: auto;
    padding: 10px;
    margin-top: 10px;
    justify-self: center;
    cursor: pointer;
}

.table-contents {
    width: 100%;
    
}
/* result table customer */
.result-table-customer {
   margin-top: 0;
    width: 100%;
    background-color: white;
    font-family: roboto-thin;
}

.result-table-customer tr {
    display: grid;
    grid-template-columns: 20% 20% 15% 20% 20% 5%;
}

.result-table-customer tr:hover{
    background-color: blue;
    font-weight: bold;
}

/* todo: add result table product */


/* result table product */
.result-table-product {
    margin-top: 0;
     width: 100%;
     background-color: white;
     font-family: roboto-thin;
 }

 .result-table-product tr {
    display: grid;
    grid-template-columns: 10% 20% 10% 10% 20% 10% 10% 10%;
 }

 .result-table-product tr:hover{
    background-color: blue;
    font-weight: bold;
}

/* admin modal form */
.admin-modal-form {
    display: grid;
    grid-template-columns: 10% 30%;
    grid-template-rows: 10%;
    justify-content: center;
    background-color: white;
    position: absolute;
    width: 80%;
    height: 90%;
    top: 20px;
    left: 200px;
    margin: 20px;
    
}

.admin-modal-form h1{
    grid-column: 1/span 2;
    grid-row: 1;
    font-size: 25px;
}

.admin-modal-form p {
    grid-column: 1/span 2;
    color: red;
}

.admin-modal-form label {
    font-family: roboto-black;
}

.admin-modal-form input[type="text"],
.admin-modal-form input[type="number"],
.admin-modal-form select
{
    border: 2px solid #ccc;
    font-family: roboto-thin;
    font-weight: bold;
    background-color: #f2f2f2;
    margin: 5px;
}

.admin-modal-form textarea {
    border: 2px solid #ccc;
    font-family: roboto-thin;
    font-weight: bold;
    background-color: #f2f2f2;
    margin: 5px;
}

.admin-modal-form button{
    grid-column: 2;
    border-radius: 5px;
    /* border: 1px solid black; */
    background-color:#4caf50;
    color: white;
    font-family: roboto-black;
    text-transform: uppercase;
    margin: 5px;
    cursor: pointer;
}